mpmissions/dayzOffline.chernarusplus/expansion/settings/AILocationSettings.json
mpmissions/dayzOffline.chernarusplus/expansion/settings/AIPatrolSettings.json
mpmissions/dayzOffline.chernarusplus/expansion/settings/AIPatrolSettings.json.backup
mpmissions/dayzOffline.chernarusplus/xml-backups/
mpmissions/dayzOffline.chernarusplus/snafu_cfgspawnabletypes.xml
mpmissions/dayzOffline.chernarusplus/init.c.backup
profiles/CarePackageV2/carepackages-config-example.txt
profiles/ExpansionMod/Loadouts/
profiles/ExpansionMod/Setting/AISettings.json
profiles/ExpansionMod/Setting/GarageSettings.json